body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
}

#footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}