* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 482px;
    width: 482px;
}

.grid {
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}